canvas {
    box-shadow: black 20px 10px 50px;
}

h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Helvetica'  
}

body {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 0px;
   margin: 0px;
   height: 100vh;
} */


